header{
  background: #24292c;
  padding: 3rem 0 0;
  color: #fff;

  hgroup{
    width: 75%;
    margin: auto;
  }

  h2{
    font-size: 2rem;
  }

  a{
    color: #fff;
    text-decoration: none;
  }

  .description{
    background-color: rgba(0,0,0,0.25);
    padding: 30px 40px;
    border-radius: 7px 7px 0 0;
  }
  
}
