@import 'reset';
@import 'header';

body{
  font-family: 'Roboto';
  line-height: 30px;
  color:#333;
}

a{
  text-decoration: none;
  color: #348eda;
}
section#container{
  width: 80%;
  margin: 1em auto;
}
article.mini-post{
  margin: 5%;
}

footer{
  clear: both;
  text-align: center;
  margin-top: 5em;
}
.post-date{
  font-size:14px;
}
body.episodes{

  background: none;

  .description{
    display: none;
  }

}
.short-description{
  color:#777;
}
audio{
  width:100%;
  display: block;
  margin: 20px 0;
}
.meta-info{
  color: #999;
}
@media all and(min-width: 800px){
  body{
    background: asset-url('background.png') no-repeat;
    background-size:100%;
    background-position: 0 -150px;
  }
  article.mini-post{
    width: 25%;
    float: left;
    margin: 3%;
    padding-left: 2%;
    height: 320px;
    border-left:2px solid #ddd;

    aside{
      border-bottom:2px solid #ddd;
      margin-bottom: 10px;
    }
  }
  article.mini-post:nth-child(3n+4){
    clear: left;
  }
  header h2{
    font-size: 3.5em;
  }
  header .menu{
    display: table;
    margin:3em auto auto;
  }

  .description{
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 2em 0;
    font-size: 20px;
    line-height: 2.5;
    color:#fff;
    text-shadow: 1px 1px 1px #000;
  }

  article:not(.mini-post){
    width: 75%;
    margin: auto;
    border-left: 3px solid #ccc;
    border-right: 3px solid #ccc;
    padding: 1em 2.5em;

     h1.title{
      font-size: 2em;
      margin: 0 0 10px;
    }
  }
  .menu{
     li{
      float: left;
      margin-right: 8px;

     }
     a{
      color:#fff;
      background: rgba(0,0,0,.15);
      padding: 8px 40px;
    }
  }
}
@media all and(max-width: 800px){
  article.mini-post{
    margin: 0%;
    padding: 10px inherit;
    border-bottom: 2px solid #ccc;
  }
}
